.avatar {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

div.article-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div.article-banner-transparent-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.4);
}

#age {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: #9a9ea3;
}

#anniversary-list {
    padding: 0 20px;
}

#anniversary-list td {
    padding: 2px;
    font-size: 12px;
    margin-top: 5px;
    color: #9a9ea3;
}

#age {
    text-align: center;
}

#age .fa {
    margin-right: 5px;
}

.article-entry pre {
  background: #f8f8f8;
  margin: 20px 0;
  padding: 15px 20px;
  border-style: solid;
  border-color: #eceff2;
  border-width: 1px 0;
  overflow: auto;
  color: #333;
  line-height: 22.400000000000002px;
}

.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}

.article-entry code {
  background: #f5f8f9;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}

.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}

.admonitions {
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    color: #333;
}

.admonitions__title:before {
    font-size: large;
    margin: 2px 4px 2px 2px;
    font-family: FontAwesome;
}

.admonitions__title {
    font-weight: bold;
}

.admonitions__content {
    margin: 0px;
    padding: 0px;
}

.admonitions__content p {
    margin: 10px;
}

.admonitions_info {
    border-color: #ccc;
    background-color: #fcfcfc;
}

.admonitions_info .admonitions__title:before {
    color: #1e90ff;
    content: "\f05a";
}

.admonitions_tip {
    border-color: #91c89c;
    background-color: #f3f9f4;
}

.admonitions_tip .admonitions__title:before {
    color: #127b1c;
    content: "\f058";
}

.admonitions_note {
    border-color: #ffeaae;
    background-color: #fffdf6;
}

.admonitions_note .admonitions__title:before {
    color: #ffcc00;
    content: "\f071";
}

.admonitions_warn {
    border-color: #d04437;
    background-color: #fff8f7;
}

.admonitions_warn .admonitions__title:before {
    color: #c42d25;
    content: "\f06a";
}

#TableOfContents ul {
    list-style: none;
    margin-left: 1em;
}
