{{ partial "head" . }}

<div id="container">
  {{ partial "header" . }}
  <div class="outer">
    {{ partial "profile" . }}
    <section>
      <article id="resume" class="article article-type-page">
        <div class="article-inner">
          {{ partial "article_header" . }}
          <div class="article-entry" itemprop="articleBody">
            {{ .TableOfContents }}
            {{ .Content }}
          </div>
          <footer class="article-footer">
            <a data-url="{{ .Permalink }}" data-id="{{ .UniqueID }}" class="article-share-link">
              {{with .Site.Data.l10n.articles.share}}{{.}}{{end}}
            </a>
          </footer>
        </div>

        {{ partial "prev_next_post" . }}
      </article>
    </section>
  </div>
</div>

{{ partial "footer" . }}
</body>
</html>
